<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1" />
    <style>
      html,
      body {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        font-family: "Avenir Next", sans-serif;
      }
      #container {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
      }
      #map {
        height: 100%;
        width: 100%;
      }
    </style>
  </head>
  <body>
    <div id="container">
      <div id="map"></div>
    </div>
    {% block script %}{% endblock %}
  </body>
</html>
